body {
  /* background-image: url("https://lumiere-a.akamaihd.net/v1/images/tatooine-main_1633e73f.jpeg?region=104%2C0%2C1072%2C536"); */
  background-image: url("https://solana.com/_next/image?url=https%3A%2F%2Fcdn.builder.io%2Fapi%2Fv1%2Fimage%2Fassets%2Fce0c7323a97a4d91bd0baa7490ec9139%2F1ee2a52c9c8f4a8b80f38df311e1d00e&w=3840&q=75");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh !important;
  background-size: 100vw 100vh;
  margin: 0;
  font-family: var(--font-lexend),"Cantarell", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.frame {
  background-color: #ddc;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
    0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  text-align: center;
}
