body {
  /* background-image: url("https://cosmos.network/_nuxt/img/b977983.png") center center no-repeat, url("https://cosmos.network/_nuxt/img/f160996.png") middle top no-repeat; */
  background-image: url("/solar-bg.png");
  /* background-image: linear-gradient(115deg, rgb(0, 0, 0, 100%), rgb(20, 241, 149, 10%), rgb(153, 69, 255, 50%), rgb(0, 0, 0, 100%)); */
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh !important;
  background-size: 100vw 100vh;
  margin: 0;
  font-family: var(--font-lexend),"Cantarell", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.frame {
  background-color: #ddc;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
    0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  text-align: center;
}

.notificationapi-button .icon-bell-o:before {
  content: url('../../public/icon.png');
}

.notificationapi-button {
  transform: scale(1.25) !important;
  margin: 0.75rem !important;
  margin-top: 1rem !important;
}
.notificationapi-popup {
  /* background-color: #0B0708 !important; */
  color: white !important;
  font-family: Inter !important;
  /* background-image: radial-gradient(115deg, rgb(20, 241, 149, 30%), rgb(153, 69, 255, 50%)) !important; */
    background-color: #0B0708 !important;
background-image: radial-gradient(circle, rgba(20, 241, 149, 0.3) 10%, transparent 70%),
                    radial-gradient(circle, rgba(153, 69, 255, 0.3) 10%, transparent 70%) !important;
  background-size: 500px 500px !important; /* Adjust the size based on your preference */
  background-position: top left, bottom right !important; /* Adjust the positions of the gradients */
  background-repeat: repeat-y !important; /* Repeat the pattern */
}

.notificationapi-header {
  /* text-decoration: underline solid white 5px !important; */
  padding-bottom: 8px !important;
  border-bottom: 1px white solid !important;
}

.notificationapi-readAll-button > .icon-check {
  color: white !important;
}

.notificationapi-preferences-button > .icon-cog {
  color: white !important;
  display: none;
}

.notificationapi-notification {
  --tw-shadow: 0 3px 28px -12px rgb(232, 121, 249, 1); /* Fuchsia shadow */
  margin: 1rem !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important; 
  border: 1px solid white !important;
}

:hover.notificationapi-notification {
  background-color: rgb(232, 121, 249, 0.3) !important;
}

.notificationapi-notification-title {
  margin-top: 2px !important;
  color: white !important;
}

.notificationapi-notification-date {
  margin-top: 2px !important;
  color: rgb(232, 121, 249, 1) !important;
}
